$light-white: #eee;
// red
$dark-red: #4e0b0b;
$light-red: #c02739;
$bg-light-red: rgba(255, 0, 0, 0.1);
// green
$dark-green: #094229ec;
$light-green: #09814bec;
$bg-light-green: rgba(0, 255, 0, 0.1);
// blue
$dark-blue: #092846;
$light-blue: #216baf;
$bg-light-blue: rgba(0, 0, 255, 0.1);
// yellow
$dark-yellow: #333305;
$light-yellow: #aaaa27;
$bg-light-yellow: rgba(230, 150, 0, 0.2);

$fuente: "Raleway", sans-serif;
